<!-- views/index.ejs -->
<!-- 表示するhtml -->
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>note-top</title>
</head>

<body>
  <h1>note-top</h1>
  <ul>
    <li>
     <a href="http://localhost:3100/note/1">note1</a>
    </li>
    <li>
     <a href="http://localhost:3100/note/2">note2</a>
    </li>
    <li>
     <a href="http://localhost:3100/note/3">note3</a>
    </li>
   <ul>
</body>

</html>
